# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
backend/lambda_venv/
backend/venv/
backend/.venv/
venv/
.venv/

# IDE
.vscode/
.idea/

# Docker
*.env
.env
# Virtual environments
**/lambda_venv/
**/venv/
**/.venv/

# Python
__pycache__/
*.py[cod]
